<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang="zxx"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Tutor Directory A Complete Learning Source : Jobs</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-chosen.css">
	<link rel="stylesheet" href="css/bootstrap-timepicker.min.css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/jquery.countdown.css">
	<link rel="stylesheet" href="css/customScrollbar.css">
	<link rel="stylesheet" href="css/simplyscroll.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.css">
	<link rel="stylesheet" href="css/jquery-ui.css">
	<link rel="stylesheet" href="css/transitions.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/color.css">
	<link rel="stylesheet" href="css/responsive.css">
	<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--************************************
			Wrapper Start
	*************************************-->
	<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
		<!--************************************
				Header Start
		*************************************-->
		<header id="tg-header" class="tg-header tg-haslayout">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 col-xs-12">
						<strong class="tg-logo">
							<a href="index.html"><img src="images/logo.png" alt="image description"></a>
						</strong>
						<div class="tg-navigationarea">
							<nav id="tg-nav" class="tg-nav">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
								<div id="tg-navigation" class="tg-navigation collapse navbar-collapse">
									<ul>
										<li><a href="index.html">Home</a></li>
										<li class="tg-hasdropdown">
											<a href="javascript:void(0);">Job</a>
											<ul class="tg-dropdownmenu">
												<li><a href="jobs.html">Job</a></li>
												<li><a href="job-detail.html">Job Detail</a></li>
											</ul>
										</li>
										<li class="tg-hasdropdown">
											<a href="javascript:void(0);">Tutor</a>
											<ul class="tg-dropdownmenu">
												<li><a href="tutors.html">tutor</a></li>
												<li><a href="tutor-detail.html">tutor Detail</a></li>
											</ul>
										</li>
										<li class="tg-hasdropdown">
											<a href="javascript:void(0);">Tuition Centre</a>
											<ul class="tg-dropdownmenu">
												<li><a href="tuition-center.html">Tuition Centre</a></li>
												<li><a href="tutioncentre-detail.html">Tuition center Detail</a></li>
												<li><a href="job-detail-by-tutioncenter.html">job Detail by Tuition center</a></li>
											</ul>
										</li>
										<li class="tg-hasdropdown tg-active">
											<a href="javascript:void(0);">dashboard</a>
											<ul class="tg-dropdownmenu">
												<li class="tg-hasdropdown">
													<a href="javascript:void(0);">dashboard tuition center</a>
													<ul class="tg-dropdownmenu">
														<li><a href="dashboard-tuition-centres.html">dash board tuition center</a></li>
														<li><a href="dashboard-tuitions-team.html">team</a></li>
														<li><a href="dashboard-tuition-centres-post-job.html">post job</a></li>
														<li><a href="dashboard-tuition-manage-jobs.html">manage jobs</a></li>
														<li><a href="dashboard-tuition-favorites-listing.html">favorites list</a></li>
														<li><a href="dashboard-tuition-Schedule.html">schedule</a></li>
														<li><a href="dashboard-tuition-invoices.html">invoices</a></li>
														<li><a href="dashboard-tuition-profile-setting.html">profile setting</a></li>
														<li><a href="dashboard-tuition-centres-academics-settings.html">academic settings</a></li>
														<li><a href="dashboard-tuition-centres-privacy-settings.html">privacy setting</a></li>
														<li><a href="dashboard-tuition-security-setting.html">security setting</a></li>
														<li><a href="dashboard-tuition-upgrade-package.html">upgrade package</a></li>
													</ul>
												</li>
												<li class="tg-hasdropdown tg-active">
													<a href="javascript:void(0);">dashboard tutor</a>
													<ul class="tg-dropdownmenu">
														<li><a href="dashboard-tutor.html">dashboard tutor</a></li>
														<li><a href="dashboardtutor-favorites-listing.html">favorites list</a></li>
														<li><a href="dashboardtutor-myschedule.html">schedule</a></li>
														<li><a href="dashboard-tutor-invoices.html">invoices</a></li>
														<li class="tg-active"><a href="dashboard-tutor-profile-settings.html">profile setting</a></li>
														<li><a href="dashboard-tutor-privacy-settings.html">privacy setting</a></li>
														<li><a href="dashboard-tutor-security-settings.html">security setting</a></li>
														<li><a href="dashboard-tutor-upgradepackage.html">upgrade package</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="tg-hasdropdown">
											<a href="javascript:void(0);">
												<i class="hidden-xs fa fa-navicon"></i>
												<span class="hidden-lg hidden-md hidden-sm">Pages</span>
											</a>
											<ul class="tg-dropdownmenu">
												<li><a href="job-detail-by-sutudent.html">job Detail by Student</a></li>
												<li><a href="how-it-works.html">How it works?</a></li>
												<li><a href="contactus.html">Contact</a></li>
												<li><a href="404error.html">404</a></li>
												<li><a href="news-grid.html">news</a></li>
												<li><a href="news-detail.html">news detail</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</nav>
							<div class="tg-admin">
								<div class="tg-guest">
									<figure class="tg-adminpic">
										<a href="#"><img src="images/icons/icon-01.png" alt="image description"></a>
									</figure>
									<div class="tg-message">
										<em>Howdy, Guest!</em>
										<div class="tg-loginsinguplinks">
											<div class="dropdown tg-dropdown">
												<button id="tg-signin" class="tg-signin tg-btndropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign In</button>
												<div class="dropdown-menu tg-dropdownbox" aria-labelledby="tg-signin">
													<h2>Hi. Welcome Back!</h2>
													<form id="tg-formsignin" class="tg-form tg-formsignin">
														<fieldset>
															<div class="form-group">
																<input type="email" name="email" class="form-control" placeholder="Email">
															</div>
															<div class="form-group">
																<input type="password" name="password" class="form-control" placeholder="password">
															</div>
															<div class="form-group">
																<button type="submit" class="tg-btn">signin</button>
																<a class="tg-forgotpassword" href="#">Forgot password?</a>
															</div>
														</fieldset>
													</form>
												</div>
											</div>
											Or
											<div class="dropdown tg-dropdown">
												<button id="tg-signup" class="tg-signup tg-btndropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Signup</button>
												<div class="dropdown-menu tg-dropdownbox" aria-labelledby="tg-signup">
													<h2>Signup Now!</h2>
													<form id="tg-formsignup" class="tg-form tg-formsignup">
														<fieldset>
															<div class="row">
																<div class="col-xs-12">
																	<div class="tg-radiobox">
																		<span class="tg-joinustitle">I Want To Join As:</span>
																		<div class="tg-joinus">
																			<span class="tg-radio">
																				<input type="radio" id="student" name="joinas" value="student" checked>
																				<label for="student">student</label>
																			</span>
																			<span class="tg-radio">
																				<input type="radio" id="tutor" name="joinas" value="tutor">
																				<label for="tutor">tutor</label>
																			</span>
																			<span class="tg-radio">
																				<input type="radio" id="academy" name="joinas" value="academy">
																				<label for="academy">academy</label>
																			</span>
																		</div>
																	</div>
																</div>
																<div class="col-xs-6">
																	<div class="form-group">
																		<input type="text" name="firstname" class="form-control" placeholder="First Name">
																	</div>
																</div>
																<div class="col-xs-6">
																	<div class="form-group">
																		<input type="text" name="lastname" class="form-control" placeholder="Last Name">
																	</div>
																</div>
																<div class="col-xs-6">
																	<div class="form-group">
																		<input type="email" name="email" class="form-control" placeholder="Email">
																	</div>
																</div>
																<div class="col-xs-6">
																	<div class="form-group">
																		<input type="password" name="password" class="form-control" placeholder="Password">
																	</div>
																</div>
																<div class="col-xs-12">
																	<div class="form-group">
																		<p>After registering you agree to our <a href="#">Terms and Conditions</a></p>
																	</div>
																</div>
																<div class="col-xs-12">
																	<div class="form-group">
																		<div class="tg-checkboxbox">
																			<span class="tg-checkbox">
																				<input type="checkbox" id="notrobot" name="notrobot" value="human">
																				<label for="notrobot">I am not a robot</label>
																			</span>
																			<a class="tg-refreshcaptcha" href="#"><img src="images/icons/icon-02.jpg" alt="image description"></a>
																		</div>
																	</div>
																</div>
																<div class="col-xs-12">
																	<button type="submit" class="tg-btn">Signup Now</button>
																</div>
																<div class="col-xs-12">
																	<div class="tg-otheroptionforsignup">
																		<h2>Also Signup Using</h2>
																		<ul class="tg-signinoption">
																			<li class="tg-facebook">
																				<a href="#">
																					<i class="fa fa-facebook"></i>
																					<i>Facebook</i>
																				</a>
																			</li>
																			<li class="tg-google">
																				<a href="#">
																					<i class="fa fa-google-plus"></i>
																					<i>google+</i>
																				</a>
																			</li>
																			<li class="tg-twitter">
																				<a href="#">
																					<i class="fa fa-twitter"></i>
																					<i>twitter</i>
																				</a>
																			</li>
																			<li class="tg-linkedin">
																				<a href="#">
																					<i class="fa fa-linkedin"></i>
																					<i>linkedin</i>
																				</a>
																			</li>
																		</ul>
																	</div>
																</div>
																<div class="col-xs-12">
																	<div class="tg-alreadyhaveaccount">
																		<h3>Already have an account? <a href="#">Sigin.</a></h3>
																	</div>
																</div>
															</div>
														</fieldset>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tg-user">
									<div class="dropdown tg-dropdown">
										<figure class="tg-adminpic">
											<a href="#"><img src="images/icons/icon-01.png" alt="image description"></a>
										</figure>
										<button id="tg-usermenu" class="tg-usermenu tg-btndropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<em>howdy, Anjela doe!</em>
										</button>
										<div class="dropdown-menu tg-dropdownbox" aria-labelledby="tg-usermenu">
											<time datetime="2011-01-12">
												<strong>monday 27, 2017</strong>
												<strong>10:10 am</strong>
											</time>
											<ul>
												<li>
													<a href="#">
														<i class="fa fa-line-chart"></i>
														<span>Dashboard</span>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-user"></i>
														<span>Profile settings</span>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-list"></i>
														<span>My jobs</span>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-clock-o"></i>
														<span>My Schedules</span>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-heart"></i>
														<span>Favorites Listing</span>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-clone"></i>
														<span>Invoices</span>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-arrow-up"></i>
														<span>Upgrade Package</span>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-gears"></i>
														<span>Security Settings</span>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-eye"></i>
														<span>Privacy Settings</span>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-sign-out"></i>
														<span>Logout</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!--************************************
				Header End
		*************************************-->
		<!--************************************
				Inner Banner Start
		*************************************-->
		<div id="tg-innerbanner" class="tg-innerbanner tg-dashboardinnerbanner tg-haslayout tg-parallaximg" data-appear-top-offset="600" data-parallax="scroll" data-image-src="images/parallax/bgparallax-12.jpg">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-xs-12">
						<div class="tg-innerbannercontent">
							<div class="tg-pagehead">
								<figure class="tg-tutordp">
									<a href="#"><img src="images/tutors/img-01.jpg" height="120" width="120" alt="image description"></a>
									<figcaption>
										<a class="tg-usericon tg-iconfeatured" href="#">
											<em class="tg-usericonholder">
												<i class="fa fa-bolt"></i>
												<span>featured</span>
											</em>
										</a>
										<a class="tg-usericon tg-iconvarified" href="#">
											<em class="tg-usericonholder">
												<i class="fa fa-shield"></i>
												<span>varified</span>
											</em>
										</a>
									</figcaption>
								</figure>
								<div class="tg-tutorinfo">
									<a class="tg-btnedit" href="#"><i class="fa fa-pencil"></i></a>
									<div class="tg-jobhead">
										<h2>Lawrence Troutman</h2>
										<div class="tg-subjects">Mathematics &amp; Statistics</div>
										<ul class="tg-jobsmetadata">
											<li><span class="tg-stars"><span></span></span></li>
											<li><a href="#">1509 view</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--************************************
				Inner Banner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-haslayout">
			<div class="container">
				<div class="row">
					<div id="tg-content" class="tg-content tg-dashboard tg-tutordashboard">
						<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
							<div class="tg-widgetdashboard">
								<h3>dashboard <a class="tg-btndashboard" href="javascript:void(0);"><i class="fa fa-angle-down"></i></a></h3>
								<time class="tg-currentdatetime" datetime="2011-01-12">
									<span>monday 27, 2017</span>
									<em>10:10 am</em>
								</time>
								<nav id="tg-dashboardnav" class="tg-dashboardnav">
									<ul>
										<li>
											<a href="dashboard-tutor.html">
												<i class="fa fa-line-chart"></i>
												<span>Insights</span>
											</a>
										</li>
										<li class="tg-warningmessage tg-active">
											<a href="dashboard-tutor-profile-settings.html">
												<i class="fa fa-user"></i>
												<span>Profile Settings</span>
											</a>
										</li>
										<li>
											<a href="dashboardtutor-myschedule.html">
												<i class="fa fa-clock-o"></i>
												<span>My Schedules</span>
											</a>
										</li>
										<li>
											<a href="dashboardtutor-favorites-listing.html">
												<i class="fa fa-heart"></i>
												<span>Favorites Listing</span>
											</a>
										</li>
										<li class="tg-successmessage">
											<a href="dashboard-tutor-invoices.html">
												<i class="fa fa-clone"></i>
												<span>Invoices</span>
											</a>
										</li>
										<li class="tg-errormessage">
											<a href="dashboard-tutor-upgradepackage.html">
												<i class="fa fa-arrow-up"></i>
												<span>Upgrade Package</span>
											</a>
										</li>
										<li>
											<a href="dashboard-tutor-security-settings.html">
												<i class="fa fa-gears"></i>
												<span>Security Settings</span>
											</a>
										</li>
										<li>
											<a href="dashboard-tutor-privacy-settings.html">
												<i class="fa fa-eye"></i>
												<span>Privacy Settings</span>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fa fa-sign-out"></i>
												<span>Logout</span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
							<div class="tg-widgetdashboard">
								<a class="tg-customerviewpage" href="#">
									<i class="fa fa-tv"></i>
									<span>What do my customers see?</span>
								</a>
							</div>
							<div class="tg-widgetdashboard">
								<div class="tg-dashboardnotification tg-jobsposted"><span>06</span>Total Job Posted</div>
								<div class="tg-dashboardnotification tg-jobsremaining"><span>02</span>Total Job Remaining</div>
								<div class="tg-dashboardnotification tg-pkgexpirey"><span>13 days</span>silver package Expire in</div>
							</div>
						</div>
						<div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">
							<div class="tg-pagehead">
								<figure class="tg-tutordp">
									<a href="#"><img src="images/tutors/img-01.jpg" height="120" width="120" alt="image description"></a>
									<figcaption>
										<a class="tg-usericon tg-iconfeatured" href="#">
											<em class="tg-usericonholder">
												<i class="fa fa-bolt"></i>
												<span>featured</span>
											</em>
										</a>
										<a class="tg-usericon tg-iconvarified" href="#">
											<em class="tg-usericonholder">
												<i class="fa fa-shield"></i>
												<span>varified</span>
											</em>
										</a>
									</figcaption>
								</figure>
								<div class="tg-tutorinfo">
									<a class="tg-btnedit" href="#"><i class="fa fa-pencil"></i></a>
									<div class="tg-jobhead">
										<h2>Lawrence Troutman</h2>
										<div class="tg-subjects">Mathematics &amp; Statistics</div>
										<ul class="tg-jobsmetadata">
											<li><span class="tg-stars"><span></span></span></li>
											<li><a href="#">1509 view</a></li>
										</ul>
									</div>
								</div>
							</div>
							<form class="tg-formtheme">
								<fieldset>
									<div class="row">
										<div class="col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<h3>Upload Profile Photo</h3>
												<div class="tg-fileupload tg-uploaddp tg-uploading">
													<div class="tg-dragfiles">
														<label for="file1">
															<span class="tg-filetype">.jpg</span>
															<span class="tg-text">Drag &amp; Drop</span>
															<span>Your files here, or <span>Browse</span> <i class="fa fa-exclamation-circle"></i></span>
															<span class="tg-loader"><i class="fa fa-spinner"></i></span>
															<input id="file1" type="file" name="file" class="form-control">
														</label>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<h3>Upload Timeline Photo</h3>
												<div class="tg-timelinedp">
													<figure>
														<img src="images/img-03.jpg" alt="image description">
														<figcaption><i class="fa fa-close"></i></figcaption>
													</figure>
												</div>
											</div>
										</div>
									</div>
								</fieldset>
								<fieldset>
									<div class="row">
										<div class="col-sm-12 col-xs-12">
											<h3>Personal Details</h3>
										</div>
										<div class="col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<span class="tg-select">
													<select>
														<option>Gender *</option>
														<option>Male</option>
														<option>Female</option>
													</select>
												</span>
											</div>
										</div>
										<div class="col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<input type="text" name="fullname" class="form-control" placeholder="Full Name *">
											</div>
										</div>
										<div class="col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<input type="text" name="age" class="form-control" placeholder="Age *">
											</div>
										</div>
										<div class="col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<span class="tg-select">
													<select data-placeholder="Choose a Subject" class="chosen-select form-control" multiple tabindex="2">
														<option value="Accounting">Accounting</option>
														<option value="Arabic">Arabic</option>
														<option value="Art and Design">Art and Design</option>
														<option value="Biology">Biology</option>
														<option value="Business">Business</option>
														<option value="Business Studies">Business Studies</option>
														<option value="Chemistry">Chemistry</option>
														<option value="Classical Studies">Classical Studies</option>
														<option value="Computer Science">Computer Science</option>
														<option value="Computing">Computing</option>
														<option value="Design and Technology">Design and Technology</option>
													</select>
												</span>
											</div>
										</div>
										<div class="col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<input type="email" name="email" class="form-control" placeholder="Email *">
											</div>
										</div>
										<div class="col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<input type="text" name="Contact" class="form-control" placeholder="Contact *">
											</div>
										</div>
										<div class="col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<input type="text" name="fax" class="form-control" placeholder="Fax">
											</div>
										</div>
										<div class="col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<input type="text" name="skype" class="form-control" placeholder="Skype *">
											</div>
										</div>
										<div class="col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<input type="text" name="url" class="form-control" placeholder="URL">
											</div>
										</div>
										<div class="col-md-6 col-sm-12 col-xs-12">
											<div class="form-group tg-inputplusselect">
												<input type="text" name="rate" class="form-control" placeholder="Rate Per Hour *">
												<span class="tg-select">
													<select>
														<option value="$USD">$ USD</option>
														<option value="$USD">$ USD</option>
														<option value="$USD">$ USD</option>
													</select>
												</span>
											</div>
										</div>
									</div>
								</fieldset>
								<fieldset>
									<div class="row">
										<div class="col-sm-12 col-xs-12">
											<h3>Add Your Location</h3>
										</div>
										<div class="col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<span class="tg-select">
													<select>
														<option>Country *</option>
														<option>Male</option>
														<option>Female</option>
													</select>
												</span>
											</div>
										</div>
										<div class="col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<span class="tg-select">
													<select>
														<option>State *</option>
														<option>Male</option>
														<option>Female</option>
													</select>
												</span>
											</div>
										</div>
										<div class="col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<span class="tg-select">
													<select>
														<option>City *</option>
														<option>Male</option>
														<option>Female</option>
													</select>
												</span>
											</div>
										</div>
										<div class="col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<span class="tg-geolocationicon">
													<input type="text" name="geolocation" class="form-control" placeholder="Geo Location">
												</span>
											</div>
										</div>
										<div class="col-sm-12 col-xs-12">
											<div class="form-group">
												<div id="tg-addressmap" class="tg-addressmap"></div>
											</div>
										</div>
									</div>
								</fieldset>
								<fieldset>
									<div class="row">
										<div class="col-sm-12 col-xs-12">
											<h3>Social Details</h3>
										</div>
										<div class="col-sm-12 col-xs-12">
											<input type="text" class="tg-url form-control" placeholder="Add Facebook URL">
											<input type="text" class="tg-url form-control" placeholder="Add Twitter URL">
											<input type="text" class="tg-url form-control" placeholder="Add Linkedin URL">
											<input type="text" class="tg-url form-control" placeholder="Add Google Plus URL">
											<input type="text" class="tg-url form-control" placeholder="Add Facebook URL">
											<input type="text" class="tg-url form-control" placeholder="Add Youtube URL">
											<div class="tg-addinputfield">
												<span class="tg-select">
													<select>
														<option>Select Social</option>
														<option>Facebook</option>
														<option>Twitter</option>
														<option>Linkedin</option>
														<option>Rss</option>
														<option>dribbble</option>
														<option>Google+</option>
														<option>YouTube</option>
														<option>LinkedIn Pulse</option>
														<option>Tumblr</option>
														<option>Pinterest</option>
														<option>Instagram</option>
													</select>
												</span>
												<a class="tg-btn" href="javascript:void(0);">add now</a>
											</div>
										</div>
									</div>
								</fieldset>
								<fieldset>
									<div class="row">
										<div class="col-sm-12 col-xs-12">
											<h3>About Me</h3>
										</div>
										<div class="col-sm-12 col-xs-12">
											<textarea class="form-control" placeholder="Description"></textarea>
										</div>
									</div>
								</fieldset>
								<fieldset>
									<div class="row">
										<div class="col-sm-12 col-xs-12">
											<h3>Add Your Skills</h3>
											<ul class="tg-list tg-skilllist">
												<li>Labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco <i class="fa fa-close"></i></li>
												<li>Aliquip ex ea commodo consequat aute irure dolor in reprehenderit <i class="fa fa-close"></i></li>
												<li>Voluptate velit esse cillum dolore eu fugiat nulla pariatur cepteur sint occaecat <i class="fa fa-close"></i></li>
												<li>Cupidatat non proident in culpa qui officia deserunt mollit anim id <i class="fa fa-close"></i></li>
											</ul>
											<div class="tg-addinputfield">
												<input type="text" name="skill" class="form-control" placeholder="Add Your skills">
												<a class="tg-btn" href="javascript:void(0);">add now</a>
											</div>
										</div>
									</div>
								</fieldset>
								<fieldset>
									<div class="row">
										<div class="col-sm-12 col-xs-12">
											<h3>Add Your Experience</h3>
											<ul class="tg-list tg-experiencelist">
												<li>
													<i class="fa fa-close"></i>
													<div class="tg-experiencetitle">
														<h4>Lecturer, Department Of Mathematics (Jan, 2016 - Present)</h4>
													</div>
													<div class="tg-subjects">Mathematics &amp; Statistics</div>
													<div class="tg-description">
														<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident, sunt in culpa officia deserunt mollit anim id est laborum ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
													</div>
												</li>
											</ul>
											<div class="tg-addexperience">
												<div class="col-md-6 col-sm-12 col-xs-12">
													<div class="form-group">
														<input type="text" name="url" class="form-control" placeholder="Company Name">
													</div>
												</div>
												<div class="col-md-6 col-sm-12 col-xs-12">
													<div class="form-group">
														<input type="text" name="rate" class="form-control" placeholder="Department">
													</div>
												</div>
												<div class="col-md-6 col-sm-12 col-xs-12">
													<div class="form-group tg-inputicon">
														<input type="text" class="tg-datepicker form-control" placeholder="Starting Date">
														<span class="fa fa-calendar-check-o"></span>
													</div>
												</div>
												<div class="col-md-6 col-sm-12 col-xs-12">
													<div class="form-group tg-inputicon">
														<input type="text" class="tg-datepicker form-control" placeholder="Ending Date">
														<span class="fa fa-calendar-check-o"></span>
													</div>
												</div>
												<div class="col-sm-12 col-xs-12">
													<div class="form-group">
														<textarea class="form-control" placeholder="Description"></textarea>
													</div>
												</div>
												<div class="col-sm-12 col-xs-12">
													<button type="submit" class="tg-btn">Add now</button>
													<span class="tg-checkbox">
														<input type="checkbox" id="currentjob1" name="currentjob" value="I’m doing this currently.">
														<label for="currentjob1">I’m doing this currently.</label>
													</span>
												</div>
											</div>
										</div>
									</div>
								</fieldset>
								<fieldset>
									<div class="row">
										<div class="col-sm-12 col-xs-12">
											<h3>Add Your Qualification</h3>
											<ul class="tg-list tg-experiencelist">
												<li>
													<i class="fa fa-close"></i>
													<div class="tg-experiencetitle">
														<h4>Bachelor of Mathematic (Ongoing)</h4>
													</div>
													<div class="tg-subjects">University of Manchester</div>
													<div class="tg-description">
														<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
													</div>
												</li>
											</ul>
											<div class="tg-addexperience">
												<div class="col-sm-6 col-xs-12">
													<div class="form-group">
														<input type="text" name="url" class="form-control" placeholder="Major Subject">
													</div>
												</div>
												<div class="col-sm-6 col-xs-12">
													<div class="form-group">
														<input type="text" name="rate" class="form-control" placeholder="Institue Name">
													</div>
												</div>
												<div class="col-sm-6 col-xs-12">
													<div class="form-group tg-inputicon">
														<input type="text" class="tg-datepicker form-control" placeholder="Starting Date">
														<span class="fa fa-calendar-check-o"></span>
													</div>
												</div>
												<div class="col-sm-6 col-xs-12">
													<div class="form-group tg-inputicon">
														<input type="text" class="tg-datepicker form-control" placeholder="Ending Date">
														<span class="fa fa-calendar-check-o"></span>
													</div>
												</div>
												<div class="col-sm-12 col-xs-12">
													<div class="form-group">
														<textarea class="form-control" placeholder="Description"></textarea>
													</div>
												</div>
												<div class="col-sm-12 col-xs-12">
													<button type="submit" class="tg-btn">Add now</button>
													<span class="tg-checkbox">
														<input type="checkbox" id="currentjob2" name="currentjob" value="I’m doing this currently.">
														<label for="currentjob2">I’m doing this currently.</label>
													</span>
												</div>
											</div>
										</div>
									</div>
								</fieldset>
								<fieldset>
									<div class="row">
										<div class="col-sm-12 col-xs-12">
											<h3>Add Your Honour &amp; Awards</h3>
										</div>
										<ul class="tg-list tg-experiencelist">
											<li>
												<i class="fa fa-close"></i>
												<div class="tg-experiencetitle">
													<h4>Best Speech On Parent Meeting (Mar, 2015)</h4>
												</div>
												<div class="tg-subjects">University of Manchester</div>
												<div class="tg-description">
													<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
												</div>
											</li>
										</ul>
										<div class="tg-addexperience">
											<div class="col-sm-12 col-xs-12">
												<div class="form-group">
													<input type="text" name="awardtitle" class="form-control" placeholder="Award Title">
												</div>
											</div>
											<div class="col-sm-6 col-xs-12">
												<div class="form-group">
													<input type="text" name="occasion" class="form-control" placeholder="Occasion">
												</div>
											</div>
											<div class="col-sm-6 col-xs-12">
												<div class="form-group tg-inputicon">
													<input type="text" class="tg-datepicker form-control" placeholder="Date">
													<span class="fa fa-calendar-check-o"></span>
												</div>
											</div>
											<div class="col-sm-12 col-xs-12">
												<div class="form-group">
													<textarea class="form-control" placeholder="Description"></textarea>
												</div>
											</div>
											<div class="col-sm-12 col-xs-12">
												<button type="submit" class="tg-btn">Add now</button>
												<span class="tg-checkbox">
													<input type="checkbox" id="currentjob" name="currentjob" value="I’m doing this currently.">
													<label for="currentjob">I’m doing this currently.</label>
												</span>
											</div>
										</div>
									</div>
								</fieldset>
								<fieldset>
									<div class="row">
										<div class="col-sm-12 col-xs-12">
											<h3>Add Presentation Video Link</h3>
											<ul class="tg-videos">
												<li>
													<figure><a href="#"><img src="images/videos/img-01.jpg" alt="image description"></a></figure>
													<div class="tg-description">
														<a href="#"><i class="fa fa-pencil"></i></a>
														<span class="tg-videolink"><a href="#">www.youtube.com/tutortutortutortutortutortutortutortutor</a></span>
														<a class="tg-btndelete" href="#"><i class="fa fa-close"></i></a>
													</div>
												</li>
												<li>
													<figure><a href="#"><img src="images/videos/img-02.jpg" alt="image description"></a></figure>
													<div class="tg-description">
														<a href="#"><i class="fa fa-pencil"></i></a>
														<span class="tg-videolink"><a href="#">www.youtube.com/tutortutortutortutortutortutortutortutor</a></span>
														<a class="tg-btndelete" href="#"><i class="fa fa-close"></i></a>
													</div>
												</li>
												<li>
													<figure><a href="#"><img src="images/videos/img-03.jpg" alt="image description"></a></figure>
													<div class="tg-description">
														<a href="#"><i class="fa fa-pencil"></i></a>
														<span class="tg-videolink"><a href="#">www.youtube.com/tutortutortutortutortutortutortutortutor</a></span>
														<a class="tg-btndelete" href="#"><i class="fa fa-close"></i></a>
													</div>
												</li>
											</ul>
											<div class="tg-addinputfield">
												<input type="text" name="videolink" class="form-control" placeholder="Video Link">
												<a class="tg-btn" href="javascript:void(0);">add now</a>
											</div>
										</div>
									</div>
								</fieldset>
								<fieldset>
									<div class="row">
										<div class="col-sm-12 col-xs-12">
											<h3>Upload Photo Gallery</h3>
										</div>
										<div class="col-sm-5 col-xs-12">
											<div class="tg-fileupload tg-uploading">
												<div class="tg-dragfiles">
													<label for="file2">
														<span class="tg-filetype">.jpg</span>
														<span class="tg-text">Drag &amp; Drop</span>
														<span>Your files here, or <span>Browse</span> <i class="fa fa-exclamation-circle"></i></span>
														<span class="tg-loader"><i class="fa fa-spinner"></i></span>
														<input id="file2" type="file" name="file" class="form-control">
													</label>
												</div>
											</div>
										</div>
										<div class="col-sm-7 col-xs-12">
											<div class="tg-gallery">
												<div class="tg-galleryimg">
													<figure>
														<img src="images/thumbnails/img-07.jpg" alt="image description">
														<figcaption><i class="fa fa-close"></i></figcaption>
													</figure>
												</div>
												<div class="tg-galleryimg">
													<figure>
														<img src="images/thumbnails/img-08.jpg" alt="image description">
														<figcaption><i class="fa fa-close"></i></figcaption>
													</figure>
												</div>
												<div class="tg-galleryimg">
													<figure>
														<img src="images/thumbnails/img-09.jpg" alt="image description">
														<figcaption><i class="fa fa-close"></i></figcaption>
													</figure>
												</div>
												<div class="tg-galleryimg">
													<figure>
														<img src="images/thumbnails/img-10.jpg" alt="image description">
														<figcaption><i class="fa fa-close"></i></figcaption>
													</figure>
												</div>
												<div class="tg-galleryimg">
													<figure>
														<img src="images/thumbnails/img-11.jpg" alt="image description">
														<figcaption><i class="fa fa-close"></i></figcaption>
													</figure>
												</div>
												<div class="tg-galleryimg">
													<figure>
														<img src="images/thumbnails/img-12.jpg" alt="image description">
														<figcaption><i class="fa fa-close"></i></figcaption>
													</figure>
												</div>
												<div class="tg-galleryimg">
													<figure>
														<img src="images/thumbnails/img-13.jpg" alt="image description">
														<figcaption><i class="fa fa-close"></i></figcaption>
													</figure>
												</div>
												<div class="tg-galleryimg">
													<figure>
														<img src="images/thumbnails/img-14.jpg" alt="image description">
														<figcaption><i class="fa fa-close"></i></figcaption>
													</figure>
												</div>
												<div class="tg-galleryimg">
													<figure>
														<img src="images/thumbnails/img-15.jpg" alt="image description">
														<figcaption><i class="fa fa-close"></i></figcaption>
													</figure>
												</div>
												<div class="tg-galleryimg">
													<figure>
														<img src="images/thumbnails/img-16.jpg" alt="image description">
														<figcaption><i class="fa fa-close"></i></figcaption>
													</figure>
												</div>
												<div class="tg-galleryimg tg-uploading">
													<figure>
														<img src="images/thumbnails/img-17.jpg" alt="image description">
														<span class="tg-loader"><i class="fa fa-spinner"></i></span>
														<span class="tg-uploadingbar"></span>
													</figure>
												</div>
												<div class="tg-galleryimg tg-uploading">
													<figure>
														<img src="images/thumbnails/img-18.jpg" alt="image description">
														<span class="tg-loader"><i class="fa fa-spinner"></i></span>
														<span class="tg-uploadingbar"></span>
													</figure>
												</div>
												<div class="tg-galleryimg tg-uploading">
													<figure>
														<img src="images/thumbnails/img-19.jpg" alt="image description">
														<span class="tg-loader"><i class="fa fa-spinner"></i></span>
														<span class="tg-uploadingbar"></span>
													</figure>
												</div>
												<div class="tg-galleryimg tg-uploading">
													<figure>
														<img src="images/thumbnails/img-20.jpg" alt="image description">
														<span class="tg-loader"><i class="fa fa-spinner"></i></span>
														<span class="tg-uploadingbar"></span>
													</figure>
												</div>
											</div>
										</div>
									</div>
								</fieldset>
								<fieldset>
									<a class="tg-btn" href="#">Update All Changes</a>
									<span class="tg-note">* Click <strong>update all changes</strong> to update latest added detail (s).</span>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!--************************************
				Main End
		*************************************-->
		<!--************************************
				Footer Start
		*************************************-->
		<footer id="tg-footer" class="tg-footer tg-haslayout">
			<div class="tg-infobox">
				<div class="container">
					<div class="row">
						<div class="tg-fcols">
							<div class="tg-fcol">
								<strong class="tg-logo"><a href="#"><img src="images/logo.png" alt="image description"></a></strong>
								<div class="tg-description">
									<p>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim veniam nostrud exercitation ullamco laboris nisi ut aliquip exeaodo consequat aute irure dolor.</p>
								</div>
								<ul class="tg-socialicons">
									<li class="tg-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li class="tg-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li class="tg-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li class="tg-googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li class="tg-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
								</ul>
							</div>
							<div class="tg-fcol">
								<div class="tg-icon">
									<i class="fa fa-bullhorn"></i>
								</div>
								<div class="tg-title">
									<h3>Talk To Us</h3>
								</div>
								<ul class="tg-email">
									<li><a href="query@domain.com">query@domain.com</a></li>
									<li><a href="support@domain.com">support@domain.com</a></li>
								</ul>
							</div>
							<div class="tg-fcol">
								<div class="tg-icon">
									<i class="fa fa-paper-plane-o"></i>
								</div>
								<div class="tg-title">
									<h3>Stay Updated</h3>
								</div>
								<form class="tg-newsletter" action="index_submit" method="post" enctype="text/plain">
									<fieldset>
										<input type="email" class="form-control" name="email" placeholder="Your Email">
										<button type="submit"><i class="fa fa-check"></i></button>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tg-quicklinks">
				<div class="container">
					<div class="row">
						<div class="tg-fcols">
							<div class="tg-fcol">
								<div class="tg-title tg-icon">
									<h3 class="fa fa-map-signs">By Location</h3>
								</div>
								<ul>
									<li><a href="#">United Kingdom</a></li>
									<li><a href="#">France</a></li>
									<li><a href="#">U.S.A</a></li>
									<li><a href="#">Egypt</a></li>
									<li><a href="#">United Emirate</a></li>
									<li><a href="#">China</a></li>
									<li><a href="#">Saudi Arab</a></li>
									<li><a href="#">Brazil</a></li>
									<li><a href="#">Germany</a></li>
									<li><a href="#">Canada</a></li>
									<li><a href="#">Sydney</a></li>
									<li><a href="#">View All</a></li>
								</ul>
							</div>
							<div class="tg-fcol">
								<div class="tg-title tg-icon">
									<h3 class="fa fa-location-arrow">By City</h3>
								</div>
								<ul>
									<li><a href="#">Arnos Grove</a></li>
									<li><a href="#">Dalston</a></li>
									<li><a href="#">Balham</a></li>
									<li><a href="#">Denmark Hill</a></li>
									<li><a href="#">Barkingside</a></li>
									<li><a href="#">Derry Downs</a></li>
									<li><a href="#">Barnes Cray</a></li>
									<li><a href="#">East Bedfont</a></li>
									<li><a href="#">Camden Town</a></li>
									<li><a href="#">Eden Park</a></li>
									<li><a href="#">Canonbury</a></li>
									<li><a href="#">View All</a></li>
								</ul>
							</div>
							<div class="tg-fcol">
								<div class="tg-title tg-icon">
									<h3 class="fa fa-graduation-cap">By Discipline</h3>
								</div>
								<ul>
									<li><a href="#">All Disciplines</a></li>
									<li><a href="#">Culinary</a></li>
									<li><a href="#">Academics</a></li>
									<li><a href="#">Dance</a></li>
									<li><a href="#">Acting</a></li>
									<li><a href="#">Health &amp; Fitness</a></li>
									<li><a href="#">Advising</a></li>
									<li><a href="#">Languages</a></li>
									<li><a href="#">Athletics</a></li>
									<li><a href="#">Mental Health</a></li>
									<li><a href="#">Counseling</a></li>
									<li><a href="#">View All</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tg-footerbar">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-xs-12">
							<nav id="tg-footernav" class="tg-footernav">
								<ul>
									<li class="tg-active"><a href="">Home</a></li>
									<li><a href="">jobs</a></li>
									<li><a href="">tutors</a></li>
									<li><a href="">Academies</a></li>
									<li><a href="">How it works?</a></li>
									<li><a href="">Contact</a></li>
									<li><a href="">Pages</a></li>
								</ul>
							</nav>
							<span class="tg-copyright">2017 All Rights Reserved &copy; <a href="#">Tutor Directory</a></span>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--************************************
				Footer End
		*************************************-->
	</div>
	<!--************************************
			Wrapper End
	*************************************-->
	<script src="js/vendor/jquery-library.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/bootstrap-add-clear.min.js"></script>
	<script src="js/bootstrap-timepicker.min.js"></script>
	<script src="js/mapclustering/data.json"></script>
	<script src="http://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&language=en"></script>
	<script src="js/mapclustering/markerclusterer.min.js"></script>
	<script src="js/mapclustering/infobox.js"></script>
	<script src="js/mapclustering/map.js"></script>
	<script src="js/customScrollbar.min.js"></script>
	<script src="js/jquery.countdown.js"></script>
	<script src="js/simplyscroll.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/chosen.jquery.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/parallax.js"></script>
	<script src="js/countTo.js"></script>
	<script src="js/loader.js"></script>
	<script src="js/appear.js"></script>
	<script src="js/gmap3.js"></script>
	<script src="js/main.js"></script>
</body>
</html>