

<html>
<head>
	<body>
		<center>
		{% if e %}


		        <div class="alert alert-danger fade in">
				        <a href="#" class="close" data-dismiss="alert">&times;</a>

					        <strong>Warning!</strong> Invalid Email</br>

						    </div>


						                                      <!--<font color="red">Please Enter Valid Credentials...</font></br>-->

										      {%endif%}
										                        
		  {% if  success %}
		                               <div class="alert alert-success" role="alert"><b>Success</b> : Email sent successfully</div>
					                                    {% endif %}

									                                <form class="m-t" role="form" action="/forgotpwd/" method="POST">{% csrf_token %} 
														                                <div class="form-group">
																			                                    <input type="email" class="form-control" placeholder="Email address" required="" name='email'>
																							                                    </div>

																											                                    <button style="background-color: #1ab394;  width: 20%;  border-radius: 10px;  padding: 8px 0px 8px 0px; color:#fff;">Submit</button>

																																			                                </form>
																																							</div>

		</center>																																</body>
</html>
